.home {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url('./island.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home section {
    display: flex;
    justify-content: center;
}

.pic {
    width: 100%;
    height: 100%;
}

.home h1 {
    color: white;
    margin: 0;
    padding: 3rem;
    text-decoration: underline;
    font-weight: 800;
}

.home h2 {
    color: white;
    position: absolute;
}