.navbar {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: rgb(62, 134, 243);
    justify-content: space-around;
    box-shadow: 2px 2px 6px 2px lightgrey;
}

.navbar h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    font-weight: 500;
    margin: 1rem;
}

.navbar ul li:hover {
    border-bottom: 2px solid gray;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}